/*
Hosted: https://kellan.000webhostapp.com/css/tumblr_style.css
Stylesheet for gellinnk.tumblr.com
*/
html{color:#000;background:#FFF;}
	body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym {border:0;font-variant:normal;}
/* to preserve line-height and selector appearance */
sup {vertical-align:text-top;}
sub {vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
/*to enable resizing for IE*/
input,textarea,select{*font-size:100%;}
/*because legend doesn't inherit in IE */
legend{color:#000;}
:focus {
outline: 0;
}

/* simplr 1.0 */
html{
	background-color:#f9f9f9;
	overflow:auto;
}

body{
	font-size:14px;
	font-family:Helvetica, Arial, Sans-Serif;
	cursor:default;
	color:#666666;
}

.clear_left{
	clear:left;
}

.clear_right{
	clear:right;
}

.hide{
	display:none;
}

#loading{
	position:fixed;
	right:30px;
	top:30px;
	background-image:url('http://static.tumblr.com/xhpdxdi/Ns9kineq1/loading_circle.gif');
	width:31px;
	height:31px;
	background-repeat:no-repeat;
	z-index:190;
}

#tumblr_controls{
	z-index:11 !important;
}

#bg{
	position:fixed;
	left:0px;
	bottom:0px;
	top:0px;
	width:50px;
	background-color:#e1e1e1;
	z-index:1;
}

#border_overlay{
	position:fixed;
	left:40px;
	width:20px;
	bottom:0px;
	top:0px;
	background-color:rgba(255,255,255, .3);
	z-index:5;
}

#posts{
	position:relative;
	left:0px;
	top:0px;
	z-index:2;
}

#right{
	position:fixed;
	right:0px;
	bottom:0px;
	width:230px;
	padding:30px;
	background-color:rgba(249,249,249, .6);
	text-align:right;
	z-index:200;
}
#right h1{
	font-size:30px;
	letter-spacing:-1px;
	font-weight:bold;
	margin-bottom:10px;
	color:#000000;
}
#right h1 a{
	color:#000000;
	text-decoration:none;
}
#right p{
	margin-bottom:10px;
	width:230px !important;
	line-height:18px;
}
#right input{
	margin-bottom:10px;
	font-size:13px;
	padding:2px;
	text-align:right;
	width:190px;
	color:#aaaaaa;
}
#right .tf_focused{
	text-align:left;
	color:#000000;
}
#right .colphon{
	font-size:11px;
}
#right a{
	font-weight:bold;
	text-decoration:none;
	color:#73b8c4;
}

/* general post css */
.post,
.entry{
	clear:left;
	float:left;
	position:relative;
	background-image:url('http://static.tumblr.com/xhpdxdi/fOxkinev8/post_background.gif');
	background-position:50px 0px;
	background-repeat:repeat-y;
	padding-bottom:0px;
	padding-right:0px;
	margin-bottom:20px;
	border-bottom:1px solid rgba(0,0,0, .1);
	border-right:1px solid rgba(0,0,0, .07);
}
.post .icon,
.entry .icon{
	float:left;
	width:40px;
	line-height:40px;
}
.post .icon a,
.entry .icon a{
	width:40px;
	height:40px;
	display:block;
	background-color:rgba(255,255,255, .15);
}
.post .icon a:hover,
.entry .icon a:hover{
	background-color:rgba(255,255,255, .3);
}
.post .icon a.permalink,
.entry .icon a.permalink{
	background-position:center center;
	background-repeat:no-repeat;
	text-decoration:none;
}
.post .icon a.notes{
	text-decoration:none;
	text-align:center;
	color:rgba(255,255,255,.5);
	font-weight:bold;
	font-size:15px;
	line-height:40px;
}
.post .icon a.notes:hover{
	color:rgba(255,255,255,1);
}
.post .content,
.entry .content{
	position:relative;
	margin-left:50px;
}
.post .caption,
.entry .caption{
	padding:15px;
	max-width:400px;
	line-height:18px;
}
.post .caption a,
.entry .caption a{
	font-weight:bold;
	text-decoration:none;
	color:#333333;
}
.post .caption a:hover,
.entry .caption a:hover{
	text-decoration:underline;
}
.post .caption h3,
.entry .caption h3{
	font-weight:bold;
	font-size:30px;
	letter-spacing:-1px;
	margin-bottom:15px;
	line-height:30px;
}
.post .caption h3 a,
.entry .caption h3 a{
	text-decoration:none;
}
.post .caption h3 a:hover,
.entry .caption h3 a:hover{
	filter:alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}
.entry .caption p,
.post .caption p{
	margin-bottom:10px;
}
.entry .caption blockquote,
.post .caption blockquote{
	border-left:1px dashed #dddddd;
	padding-left:15px;
	margin-bottom:10px;
}
/* dates */
.date{
	background-image:none;
	background-color:rgba(255,255,255, .4);
	height:40px;
	overflow:hidden;
}
.date .icon .permalink{
	background-image:url('http://static.tumblr.com/xhpdxdi/DAUkineje/calendar_icon.png');
}
.date .caption{
	padding:0px;
	line-height:40px;
}
.date .caption a{
	text-decoration:none;
	font-size:12px;
	padding-left:15px;
	padding-right:15px;
	line-height:40px;
	color:#aaaaaa;
}
.date .caption a:hover{
	color:#666666;
	text-decoration:underline;
}

/* search: */
.search{
	background-image:none;
	background-color:rgba(255,255,255, .4);
	height:40px;
	overflow:hidden;
}
.search .icon .permalink{
	background-image:url('http://static.tumblr.com/xhpdxdi/tujkineyu/search.png');
}
.search .caption{
	padding:0px;
	padding-left:15px;
	padding-right:15px;
	line-height:40px;
}
.search .caption span.query{
	font-weight:bold;
}

/* pagination */
.pagination{
	background-image:none;
	background-color:none;
	height:30px;
	border:none;
}
.pagination .caption{
	font-size:18px;
	line-height:30px;
	padding-top:0px;
	padding-bottom:0px;
	color:#aaaaaa;
}
.pagination .caption p{
	padding-left:0px;
}
.pagination .caption p a span{
	color:#aaaaaa;
}
.pagination .caption p a:hover span{
	color:#000000;
}

/* photo post specific css */

.photo{
	background-color:#90deec;
}
.photo .icon .permalink{
	background-image:url('http://static.tumblr.com/xhpdxdi/7tOkinelf/camera_icon.png');
}
.photo .the_photo{

}
.photo .photo_loading{
	background-image:url('http://static.tumblr.com/xhpdxdi/Ns9kineq1/loading_circle.gif');
	background-repeat:no-repeat;
	background-position:10px 10px;
}
.photo .the_photo .photo_inner{

}
.photo .icon a.zoom{
	background-image:url('http://static.tumblr.com/xhpdxdi/VkRkineqt/magnifying_icon.png');
	background-repeat:no-repeat;
	background-position:center center;
	margin-top:2px;
}

/* video post specific css */
.video{
	background-color:#bb225a;
}
.video .icon .permalink{
	background-image:url('http://static.tumblr.com/xhpdxdi/Hjmkinf01/video_icon.png');
}

/* link post specific css */
.link{
	background-color:#8abd50;
}
.link .icon .permalink{
	background-image:url('http://static.tumblr.com/xhpdxdi/Qngkineov/link_icon.png');
}
.link .caption h3 a{
	color:#8abd50;
}

/* regular post specific css */
.regular{
	background-color:#5a308d;
}
.regular .icon .permalink{
	background-image:url('http://static.tumblr.com/xhpdxdi/kMukinewt/regular_icon.png');
}
.regular .caption h3 a{
	color:#5a308d;
}

/* quotes specific css */
.quote{
	background-color:#5a308d;
}
.quote .icon .permalink{
	background-image:url('http://static.tumblr.com/xhpdxdi/kMukinewt/regular_icon.png');
}
.quote .the_quote{
	font-style:italic;
	text-indent: -0.5em;
	margin-right:20px;
}
.quote .short{
	font-size:24px;
	line-height:26px;
}
.quote .medium{
	font-size:18px;
	line-height:21px;
}
.quote .long{
	font-size:15px;
	line-height:19px;
}
.quote .the_quote .quote_mark{
	color:#bbbbbb;
	font-weight:bold;
}

/* audio post specific css */
.audio{
	background-color:#cf4039;
}
.audio .icon .permalink{
	background-image:url('http://static.tumblr.com/xhpdxdi/FVskinekl/audio_icon.png');
}
.audio .icon .download{
	background-image:url('http://static.tumblr.com/xhpdxdi/LlJkinf45/folder_add.png');
	background-repeat:no-repeat;
	background-position:center center;
}
.audio .the_player{
	background-color:#dadada;
	width:420px;
	padding:10px;
	padding-left:10px;
}

/* conversation specific css */
.conversation{
	background-color:#5a308d;
}
.conversation .icon .permalink{
	background-image:url('http://static.tumblr.com/xhpdxdi/wQ5kinemf/conversation_icon.png');
}
.conversation .caption h3
.conversation .caption h3 a{
	color:#5a308d;
}

/* notes post specific css */
.post_notes{
	background-image:none;
	background-color:transparent;
	border:none;
	border-top:1px solid rgba(0,0,0,.1);
	width:500px;
}
.post_notes .icon .permalink{
	background-image:url('http://static.tumblr.com/xhpdxdi/ugRkines4/notes_icon.png');
}
.post_notes .the_notes{
	font-size:13px;
	line-height:24px;
	width:440px;
}

/* Seeya credit for Jared Bishop */
.credit{
	width: 0px;
	height: 0px;
	display: none;
}
.credit .caption{
	width: 0px;
	height: 0px;
	display: none;
}

/* twitter */
#twitter{
	background-color:#01dded;
}
#twitter p.latest{
	margin-bottom:0px !important;
	font-size:12px !important;
	color:#bbbbbb !important;
}
#twitter .icon a.permalink{
	background-image:url('http://static.tumblr.com/xhpdxdi/RlYkinezi/twitter_icon.png');
}
#twitter .lastTweet span{
	display:block;
	margin-bottom:4px;
}

/* css for lightboxed images */
#lightbox{
	background-color:transparent;
	padding:0px;
}
#lightboxDetails{

}
#lightboxCaption{ float: left; }
#keyboardMsg{ float: right; }

#lightbox img{
	-webkit-box-shadow: 2px 2px 2px #bbbbbb;
}
#overlay img{ border: none; }
#overlay{
	background-color:#f0f0f0;
	background-color:rgba(249,249,249, .93);
}
#credit{
	padding-bottom:30px;
	font-family:Helvetica, Arial;
	font-size:13px;
	color:#bbbbbb;
	padding-left:70px;
}
#credit a{
	font-weight:bold;
	color:#aaaaaa;
}
/* END LIGHTBOX */

/* Custom Additions */
#right {
	width: 250px;
	height: auto;
	background-color: gray;
	border-radius: 5px;
	border: inset 5px #4dd2ff;
	margin: 10px;
	padding: 15px;
	opacity: .7;
}

#searchfield {
	font-family: Helvetica;
	background-color: black;
	color: white;
	text-shadow: 1px 0px white;
	width: 100%;
	text-align: center;
	font-weight: bold;
	letter-spacing: 3px;
	height:20px;
}

a:hover {
	padding: 5px;
	background-color: #cce7ff;
	border-radius: 10px;
	color: white;
	box-shadow: 0px 0px 15px black;
	transition-duration: .75s;
	-webkit-transition-duration: 0.75s; /* Safari */
	text-decoration: none;
}
